name: Build Swift language bindings

permissions:
  #contents: read
  contents: write
  pull-requests: write

on:
  push:
    # Pattern matched against refs/tags
    # Use ${{ github.ref_name }} to get the short ref name of tag that triggered the workflow run
    tags:
      - '*'
  #workflow_dispatch:
  #  inputs:
  #    newVersion:
  #      description: 'New Version'
  #      type: string
  #      default: '0.0.0'
  #      required: true

jobs:

  rust-build-swift-bindings:
    name: Build Swift bindings
    # just reuse a relevant workflow from the dedicated repo https://github.com/swiyu-admin-ch/github-actions-workflows
    uses: swiyu-admin-ch/github-actions-workflows/.github/workflows/rust-build-swift-bindings.yml@main
    with:
      #newVersion: ${{ github.event.inputs.newVersion }}
      newVersion: ${{ github.ref_name}}
      swiftPackageName: DidResolver
      xcFrameworkName: didresolver
      #binaryTargetUrlGitHubOwner: swiyu-admin-ch
      # https://github.com/swiyu-admin-ch/didresolver-swift
      binaryTargetUrlGitHubRepo: didresolver-swift

  set-context:
    name: Set context
    runs-on: ubuntu-latest
    outputs:
      timestamp: ${{ steps.timestamp.outputs.timestamp }}
      latest_git_tag: ${{ steps.latest_git_tag.outputs.latest_git_tag }}
    steps:
      - name: Set timestamp
        id: timestamp
        run: echo "timestamp=$(date +"%Y%m%d%H%M%S")" >> "$GITHUB_OUTPUT"
      - name: Output the latest Git tag
        id: latest_git_tag
        run: echo "latest_git_tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

  create-pull-request:
    name: Create Pull Request
    runs-on: ubuntu-latest
    needs: [rust-build-swift-bindings, set-context]
    env:
      timestamp: ${{ needs.set-context.outputs.timestamp }}
      latest_git_tag: ${{ needs.set-context.outputs.latest_git_tag }}
    steps:
      - name: Checkout Bindings Repo
        uses: actions/checkout@v4
        with:
          # CAUTION This assumes such repo exists
          repository: ${{ github.repository }}-swift
          # CAUTION This secret MUST be a PAT with RW access for Contents and Pull requests (for the target repo)
          token: ${{ secrets.GH_PAT_BINDINGS_REPO_RW }}
          path: bindings-repo
          lfs: true

      - name: Download Generated Bindings Patch
        uses: actions/download-artifact@v4
        with:
          # CAUTION This depends on the workflow "used" in the previous job, so it might be subject to change
          #name: swift-bindings-${{ github.event.inputs.newVersion }}
          #name: swift-bindings-${{ env.latest_git_tag }}
          name: swift-bindings-${{ github.ref_name}}
          path: bindings-repo

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          path: bindings-repo
          #branch: automated-pull-request/bindings-patch-${{ env.timestamp }}
          #branch: automated-pull-request/bindings-patch-${{ env.latest_git_tag }}
          #branch: automated-pull-request/bindings-patch-${{ github.event.inputs.newVersion }}
          branch: automated-pull-request/bindings-patch-${{ github.ref_name}}
          # CAUTION This secret MUST be a PAT with RW access for Contents and Pull requests (for the target repo)
          token: ${{ secrets.GH_PAT_BINDINGS_REPO_RW }}
          commit-message: ':package: Automated commit made by the ''${{ github.workflow }}'' GitHub action workflow'
          # CAUTION Only files generated by the previous job are relevant here
          add-paths: |
            *.swift
            **/*.swift
          title: ':package: Bindings updated by the ''${{ github.workflow }}'' GitHub action workflow'
          body: ':warning: Automated changes by the ''${{ github.workflow }}'' GitHub action workflow. **DO NOT EDIT**'
          assignees: ${{ github.actor }}
          # CAUTION Review cannot be requested from pull request author!
          #reviewers: ${{ github.actor }}
          maintainer-can-modify: false