name: Build library (Kotlin f. Android)

permissions:
  #contents: read
  contents: write
  pull-requests: write

on:
  push:
    # Pattern matched against refs/tags
    # Use ${{ github.ref_name }} to get the short ref name of tag that triggered the workflow run
    tags:
      - '*'
  #workflow_dispatch:

jobs:
  build:
    name: Build Kotlin bindings for Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          #ssh-key: ${{ secrets.SSH_KEY }}
          submodules: recursive
          ref: build/kotlin-android
      - name: Install rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      #- uses: de-vri-es/setup-git-credentials@v2
      #  with:
      #    credentials: ${{ secrets.WORFKLOW_TOKEN_LIBRARIES }}
      - name: Install targets
        run: |
          cargo install cargo-ndk
          cargo ndk --version
          
          rustup target add arm-linux-androideabi
          rustup target add aarch64-linux-android
          rustup target add armv7-linux-androideabi
          rustup target add i686-linux-android
          rustup target add x86_64-linux-android
          rustup target add x86_64-unknown-linux-gnu
          
          #cargo ndk-env --target x86_64-linux-android

      - name: Cache Rust modules
        id: cache-rust
        uses: actions/cache@v4
        env:
          cache-name: cache-rust-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: target
          #key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/Cargo.lock') }}
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Build JNI libraries for Kotlin Android (incl. UniFFI bindings)
        run: |
          cargo clean
          echo ">>"; echo ">> Release build"; echo ">>" 
          cargo build --release
          
          # Restore the target repo directory structure
          repo_root=bindings-repo/didresolver-android/src/main
          jni_libs=${repo_root}/jniLibs; rust_lib=libdidresolver.so
          
          echo ">>"; echo ">> Build Java Native Interface (JNI) libraries for Android"; echo ">>"
          cargo ndk -o ${jni_libs} --manifest-path ./Cargo.toml -t armeabi-v7a -t arm64-v8a -t x86 -t x86_64 build --release
          # CAUTION Get rid of any irrelevant SO file, as some further SO files might be generated as well
          rm ${jni_libs}/**/*-[0-9a-z]*.so
          
          echo ">>"; echo ">> Build language bindings for Android"; echo ">>"
          
          # Adjust the 'uniffi.toml' configuration file in order to produce Android-compliant Kotlin language bindings
          # CAUTION This assumes every 'uniffi.toml' is accompanied by a proper 'uniffi.toml.tmpl' template file
          for f in $(find . -name uniffi.toml); do \
            sed -e 's/ANDROID_VALUE/true/g' -e 's/ANDROID_CLEANER_VALUE/true/g' -e 's/PARENT_PACKAGE_NAME_VALUE/ch.admin.eid.didresolver/g' -e '/^##/d' $f.tmpl > $f;
          done
          
          cargo run --bin uniffi-bindgen generate --library target/release/${rust_lib} --language kotlin --out-dir ${repo_root}/kotlin
          
          # ELF alignment (of shared libraries) check
          # (inspired by https://cs.android.com/android/platform/superproject/main/+/main:system/extras/tools/check_elf_alignment.sh)
          echo ">>"; echo ">> ELF alignment check"
          echo ">>"; echo ">> Shared libraries are reported ALIGNED when their ELF regions are 16 KB or 64 KB aligned."
          echo ">> Otherwise they are reported as UNALIGNED."; echo ">>"
          
          # On "ubuntu-latest" runner image, several ANDROID_NDK_* envvars are available
          # (see https://github.com/actions/runner-images/blob/main/images/ubuntu/Ubuntu2404-Readme.md#environment-variables-2)
          objdump_cmd=$($ANDROID_NDK_LATEST_HOME/ndk-which objdump)
          #objdump_cmd=$($ANDROID_NDK_HOME/ndk-which objdump)
          
          RED="\e[1;31m"; GREEN="\e[1;32m"; PURPLE="\e[1;35m"; COLORS_OFF="\e[0m"; IFS=$'\n'
          unaligned_libs=(); unaligned_64_bit_libs=()
          for lib in $(find ${jni_libs} -name ${rust_lib}); do
            [[ $(file "${lib}") == *"ELF"* ]] || continue
            load="$($objdump_cmd -p ${lib} | grep LOAD | awk '{ print $NF }' | head -1)"
            if [[ ${load} =~ 2\*\*(1[4-9]|[2-9][0-9]|[1-9][0-9]{2,}) ]]; then
              echo -e ">> ${lib}: ${GREEN}ALIGNED${COLORS_OFF} (${load})"
            else
              echo -e ">> ${lib}: ${RED}UNALIGNED${COLORS_OFF} (${load})"
              unaligned_libs+=("${so}")
              [[ $(file "${lib}") == *"ELF 64"* ]] && unaligned_64_bit_libs+=("${lib}")
            fi
          done
          if [ ${#unaligned_libs[@]} -gt 0 ]; then
            echo -e "${PURPLE}>> Total ${#unaligned_libs[@]} UNALIGNED libs detected, although only 64-bit (arm64-v8a/x86_64) JNI libs need to be aligned.${COLORS_OFF}"
          fi
          if [ ${#unaligned_64_bit_libs[@]} -gt 0 ]; then
            echo -e "${RED}>> Total ${#unaligned_64_bit_libs[@]} UNALIGNED 64-bit JNI libs detected: ${unaligned_64_bit_libs}${COLORS_OFF}"
            exit 1
          fi
          echo -e "${GREEN}>> No UNALIGNED 64-bit JNI libs detected.${COLORS_OFF}"

      - name: Save Bindings Patch as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-repo-patch
          path: bindings-repo
          #include-hidden-files: true
          retention-days: 1

  set-context:
    name: Set context
    runs-on: ubuntu-latest
    outputs:
      timestamp: ${{ steps.timestamp.outputs.timestamp }}
      latest_git_tag: ${{ steps.latest_git_tag.outputs.latest_git_tag }}
    steps:
      - name: Set timestamp
        id: timestamp
        run: echo "timestamp=$(date +"%Y%m%d%H%M%S")" >> "$GITHUB_OUTPUT"
      - name: Output the latest Git tag
        id: latest_git_tag
        run: echo "latest_git_tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

  create-pull-request:
    name: Create Pull Request
    runs-on: ubuntu-latest
    needs: [build, set-context]
    env:
      timestamp: ${{ needs.set-context.outputs.timestamp }}
      latest_git_tag: ${{ needs.set-context.outputs.latest_git_tag }}
    steps:
      - name: Checkout Bindings Repo
        uses: actions/checkout@v4
        with:
          # CAUTION This assumes such repo exists
          repository: ${{ github.repository }}-kotlin-android
          # CAUTION This secret MUST be a PAT with RW access for Contents and Pull requests (for the target repo)
          token: ${{ secrets.GH_PAT_BINDINGS_REPO_RW }}
          path: bindings-repo
          lfs: true

      - name: Download Generated Bindings Patch
        uses: actions/download-artifact@v4
        with:
          name: bindings-repo-patch
          path: bindings-repo

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          path: bindings-repo
          #branch: automated-pull-request/bindings-patch-${{ env.timestamp }}
          branch: automated-pull-request/bindings-patch-${{ env.latest_git_tag }}
          # CAUTION This secret MUST be a PAT with RW access for Contents and Pull requests (for the target repo)
          token: ${{ secrets.GH_PAT_BINDINGS_REPO_RW }}
          commit-message: ':package: Automated commit made by the ''${{ github.workflow }}'' GitHub action workflow'
          # CAUTION Only files generated by the previous job are relevant here
          add-paths: |
            didresolver-android/src/main/kotlin/**/*.kt
            didresolver-android/src/main/jniLibs/**/*.*
          title: ':package: Bindings updated by the ''${{ github.workflow }}'' GitHub action workflow'
          body: ':warning: Automated changes by the ''${{ github.workflow }}'' GitHub action workflow. **DO NOT EDIT**'
          assignees: ${{ github.actor }}
          # CAUTION Review cannot be requested from pull request author!
          #reviewers: ${{ github.actor }}
          maintainer-can-modify: false