name: Build library (Kotlin)

permissions:
  #contents: read
  contents: write
  pull-requests: write

on:
  push:
    # Pattern matched against refs/tags
    # Use ${{ github.ref_name }} to get the short ref name of tag that triggered the workflow run
    tags:
      - '*'
  #workflow_dispatch:

# limit the concurrency of entire workflow runs for a specific branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build-for-matrix:
    name: Build Kotlin bindings
    strategy:
      max-parallel: 5
      matrix:
        os: [ ubuntu, ubuntu-24.04-arm, windows, macos, macos-15-intel ]
        include:
          - os: ubuntu
            label: -latest
            jna-dir: linux-x86-64
            file-prefix: lib
            file-extension: so
          - os: ubuntu-24.04-arm
            #label:
            jna-dir: linux-aarch64
            file-prefix: lib
            file-extension: so
          - os: windows
            label: -latest
            #file-prefix:
            jna-dir: win32-x86-64
            file-extension: dll
          - os: macos
            label: -latest
            jna-dir: darwin-aarch64
            file-prefix: lib
            file-extension: dylib
          - os: macos-15-intel
            #label:
            jna-dir: darwin-x86-64
            file-prefix: lib
            file-extension: dylib
    # See https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ${{ matrix.os }}${{ matrix.label }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        #with:
        #  ref: ${{ github.ref_name }}
      - name: Rust toolchain (stable)
        # For more Rust extensions, please visit: https://github.com/marketplace?query=rust&type=actions
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Cache Rust
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          #key: ${{ runner.os }}-${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          key: ${{ runner.os }}-${{ matrix.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}
      - name: Build
        run:  cargo build --release
      - name: Generate UniFFI bindings
        run:  |
          # Restore the target repo directory structure
          mkdir -p bindings-repo/src/main/resources/${{ matrix.jna-dir }}
          cargo run --bin uniffi-bindgen generate --library target/release/${{ matrix.file-prefix }}didresolver.${{ matrix.file-extension }} --language kotlin --out-dir bindings-repo/src/main/kotlin
          cp target/release/${{ matrix.file-prefix }}didresolver.${{ matrix.file-extension }} bindings-repo/src/main/resources/${{ matrix.jna-dir }}/
      - name: Save Bindings Patch as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: bindings-repo-patch-${{ matrix.os }}${{ matrix.label }}
          path: bindings-repo
          #include-hidden-files: true
          retention-days: 1

  set-context:
    name: Set context
    runs-on: ubuntu-latest
    outputs:
      timestamp: ${{ steps.timestamp.outputs.timestamp }}
      latest_git_tag: ${{ steps.latest_git_tag.outputs.latest_git_tag }}
    steps:
      - name: Set timestamp
        id: timestamp
        run: echo "timestamp=$(date +"%Y%m%d%H%M%S")" >> "$GITHUB_OUTPUT"
      - name: Output the latest Git tag
        id: latest_git_tag
        run: echo "latest_git_tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

  create-pull-request:
    name: Create Pull Request
    runs-on: ubuntu-latest
    needs: [build-for-matrix, set-context]
    env:
      timestamp: ${{ needs.set-context.outputs.timestamp }}
      latest_git_tag: ${{ needs.set-context.outputs.latest_git_tag }}
    steps:
      - name: Checkout Bindings Repo
        uses: actions/checkout@v4
        with:
          # CAUTION This assumes such repo exists
          repository: ${{ github.repository }}-kotlin
          # CAUTION This secret MUST be a PAT with RW access for Contents and Pull requests (for the target repo)
          token: ${{ secrets.GH_PAT_BINDINGS_REPO_RW }}
          path: bindings-repo
          lfs: true

      - name: Download Generated Bindings Patch (macos-latest)
        uses: actions/download-artifact@v4
        with:
          name: bindings-repo-patch-macos-latest
          path: bindings-repo
      - name: Download Generated Bindings Patch (macos-15-intel)
        uses: actions/download-artifact@v4
        with:
          name: bindings-repo-patch-macos-15-intel
          path: bindings-repo
      - name: Download Generated Bindings Patch (windows-latest)
        uses: actions/download-artifact@v4
        with:
          name: bindings-repo-patch-windows-latest
          path: bindings-repo
      - name: Download Generated Bindings Patch (ubuntu-24.04-arm)
        uses: actions/download-artifact@v4
        with:
          name: bindings-repo-patch-ubuntu-24.04-arm
          path: bindings-repo
      - name: Download Generated Bindings Patch (ubuntu-latest)
        uses: actions/download-artifact@v4
        with:
          name: bindings-repo-patch-ubuntu-latest
          path: bindings-repo

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          path: bindings-repo
          #branch: automated-pull-request/bindings-patch-${{ env.timestamp }}
          branch: automated-pull-request/bindings-patch-${{ env.latest_git_tag }}
          # CAUTION This secret MUST be a PAT with RW access for Contents and Pull requests (for the target repo)
          token: ${{ secrets.GH_PAT_BINDINGS_REPO_RW }}
          commit-message: ':package: Automated commit made by the ''${{ github.workflow }}'' GitHub action workflow'
          # CAUTION Only files generated by the previous job are relevant here
          add-paths: |
            src/main/kotlin/**/*.kt
            src/main/resources/**/*.*
          title: ':package: Bindings updated by the ''${{ github.workflow }}'' GitHub action workflow'
          body: ':warning: Automated changes by the ''${{ github.workflow }}'' GitHub action workflow. **DO NOT EDIT**'
          assignees: ${{ github.actor }}
          # CAUTION Review cannot be requested from pull request author!
          #reviewers: ${{ github.actor }}
          maintainer-can-modify: false
